body {
  background-color: #dff6f0;
}

img {
  border-radius: 50%;
}

h1 {
  font-size: 40pt;
  font-family: Impact;
  color: #464159;
}

h2 {
  font-size: 30pt;
  color: #6c7b95;
}

h3 {
  text-decoration: underline;
  font-family: Impact;
  color: #464159;
}

a {
  text-decoration: none;
  font-size: 40pt;
  color: #6c7b95;
  background-color: #b2dffb;
  border-left: 6px solid #2c7873;
}

p {
  background-color: lightgrey;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #8bbabb;
  border-width: 5px;
  width: 10%;
}
